nav ul li a img{
   width: 100%;
   height: 100%;
}
.one li {
  width: 50px;
}
.arrows  {
    opacity: 0;
  }
#portfolio:hover .arrows {
    opacity: 1;
}
.portfolio-box:hover img{
    filter: brightness(30%);
    cursor: default;
}
#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
    max-width: 1920px;
  }
  #portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
    position: relative;
    display: block;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    transition: opacity 0.25s ease;
    text-align: center;
    overflow: hidden;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
  }
  #portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
    cursor: default;
  } 
footer img {
   width: 100%;
   height: 100%;
}
.icons {
    width: 60px;
    height: 60px;
    border: 2px solid grey;
    border-radius: 100%; 
    padding: 10px;
}


@media (min-width: 993px) {
    .features > div:nth-child(-n+3) {
        border-bottom: 2px solid grey;
    }
    .features > div:nth-child(3n+2) {
        border-left: 2px solid grey;
        border-right: 2px solid grey;
    }

}

@media (max-width: 992px) and (min-width: 576px) {
.features > div:nth-child(odd){   
    border-right: 2px solid grey;  

}
.features > div:nth-child(1), .features div:nth-child(3) {
    border-bottom: 2px solid grey;
}
.features > div:nth-child(2), .features div:nth-child(4) {
    border-bottom: 2px solid grey;
}

}

@media (max-width: 576px) {
    .features > div {
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px solid grey;
    }
}